h1 {
    text-decoration: underline;
    text-align: center;
}

body {
    background-color: aqua;
}

p {
    text-align: center;
}

#caixa-principal{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10050px;
    width: 1050px;
}