body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    background-color: #333;
    color: red; /* Define a cor do texto como branco */
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    background-color: #333;
    padding: 20px;
    margin: 20px 10px;
    color: white; /* Define a cor do texto como branco */
}

h2 {
    color: red;
}

